:root {
    --theme_brown: #caa892;
    --theme_jade: #37806b;
    --theme_black: #111111;
    --theme_gray: #646464;
    --theme_fore: #F0F0F0;
    --theme_white: #FFFFFF;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background-color: var(--theme_fore); 
}

::-webkit-scrollbar-thumb {
    background-color: var(--theme_jade);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #47a087;
}

@import url("https://fonts.googleapis.com/css?family=Material+Icons");

@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/OpenSans.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/OpenSans-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/OpenSans-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/OpenSans-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}



@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/OpenSans-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/OpenSans-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/OpenSans-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/OpenSans-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/OpenSans-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/OpenSans-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/OpenSans-ExtraBoldItalic.ttf);
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Thin.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-ThinItalic.ttf);
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-ExtraLight.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-ExtraLightItalic.ttf);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}



@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-ExtraBoldItalic.ttf);
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}

* {
    font-family: OpenSans;
    overflow: visible;
}

html {
    overflow-y: overlay;
}